:root {
  --clr-primary-050: #E6F6FF;
  --clr-primary-100: #BAE3FF;
  --clr-primary-200: #7CC4FA;
  --clr-primary-300: #47A3F3;
  --clr-primary-400: #2186EB;
  --clr-primary-500: #0967D2;
  --clr-primary-600: #0552B5;
  --clr-primary-700: #03449E;
  --clr-primary-800: #01337D;
  --clr-primary-900: #002159;

  --clr-secondary-050: #F7F7F7;
  --clr-secondary-100: #E1E1E1;
  --clr-secondary-200: #CFCFCF;
  --clr-secondary-300: #B1B1B1;
  --clr-secondary-400: #9E9E9E;
  --clr-secondary-500: #7E7E7E;
  --clr-secondary-600: #626262;
  --clr-secondary-700: #515151;
  --clr-secondary-800: #3B3B3B;
  --clr-secondary-900: #222222;
}